{% block extrajs %}
<script type="text/javascript">
    Tecnotek.assetsURL = "{{ path('homepage')}}";
</script>
{% endblock %}
<html lang="es" xml:lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

</head>
<body>

<![endif]-->
<title>PlantillaECP2</title>

<div>

    <div lang="es">
        <span lang="es">

            <div><img src="https://www.fmedicinaenlinea.ucr.ac.cr/imgs/MEMBRETE_EE.png"  width="960" height="200" align="center"></div>

            <div><img src="{{ asset('/var/www/html/dev/siga/web/images/programas/bannerProgramas2019.png') }}" width="960" height="200" align="center"></div>



            {{ html | raw }}

        </span>
    </div>
</div>
</body>

</html>