<html lang="es" xml:lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

</head>
<body>

<![endif]-->
<title>PlantillaECP2</title>

<div>

    <div lang="es">
        <span lang="es">
            <div><img src="{{ asset('/var/www/html/ucr/web/images/programas/banner2019-2.png') }}"  width="960" height="200" align="center"></div>
            {{ html | raw }}

        </span>
    </div>
</div>
</body>

</html>