
#fountainG{ position:relative; width:240px; margin: auto; height:29px}

.fountainG{
    position:absolute;
    top:0;
    background-color:#3ACF3A;
    width:29px;
    height:29px;
    -moz-animation-name:bounce_fountainG;
    -moz-animation-duration:2.5s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(.3);
    -moz-border-radius:19px;
    -webkit-animation-name:bounce_fountainG;
    -webkit-animation-duration:2.5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(.3);
    -webkit-border-radius:19px;
    -ms-animation-name:bounce_fountainG;
    -ms-animation-duration:2.5s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(.3);
    -ms-border-radius:19px;
    -o-animation-name:bounce_fountainG;
    -o-animation-duration:2.5s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(.3);
    -o-border-radius:19px;
    animation-name:bounce_fountainG;
    animation-duration:2.5s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(.3);
    border-radius:19px;
}

#fountainG_1{
    left:0;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
    -ms-animation-delay:1s;
    -o-animation-delay:1s;
    animation-delay:1s;
}

#fountainG_2{
    left:30px;
    -moz-animation-delay:1.25s;
    -webkit-animation-delay:1.25s;
    -ms-animation-delay:1.25s;
    -o-animation-delay:1.25s;
    animation-delay:1.25s;
}

#fountainG_3{
    left:60px;
    -moz-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -o-animation-delay:1.5s;
    animation-delay:1.5s;
}

#fountainG_4{
    left:90px;
    -moz-animation-delay:1.75s;
    -webkit-animation-delay:1.75s;
    -ms-animation-delay:1.75s;
    -o-animation-delay:1.75s;
    animation-delay:1.75s;
}

#fountainG_5{
    left:120px;
    -moz-animation-delay:2s;
    -webkit-animation-delay:2s;
    -ms-animation-delay:2s;
    -o-animation-delay:2s;
    animation-delay:2s;
}

#fountainG_6{
    left:150px;
    -moz-animation-delay:2.25s;
    -webkit-animation-delay:2.25s;
    -ms-animation-delay:2.25s;
    -o-animation-delay:2.25s;
    animation-delay:2.25s;
}

#fountainG_7{
    left:180px;
    -moz-animation-delay:2.5s;
    -webkit-animation-delay:2.5s;
    -ms-animation-delay:2.5s;
    -o-animation-delay:2.5s;
    animation-delay:2.5s;
}

#fountainG_8{
    left:210px;
    -moz-animation-delay:2.75s;
    -webkit-animation-delay:2.75s;
    -ms-animation-delay:2.75s;
    -o-animation-delay:2.75s;
    animation-delay:2.75s;
}

@-moz-keyframes bounce_fountainG{
0%{-moz-transform:scale(1);background-color:#3ACF3A;}
100%{-moz-transform:scale(.3);background-color:#FFFFFF;}
}

@-webkit-keyframes bounce_fountainG{
0%{-webkit-transform:scale(1);background-color:#3ACF3A;}
100%{-webkit-transform:scale(.3);background-color:#FFFFFF;}
}

@-ms-keyframes bounce_fountainG{
0%{-ms-transform:scale(1);background-color:#3ACF3A;}
100%{-ms-transform:scale(.3);background-color:#FFFFFF;}
}

@-o-keyframes bounce_fountainG{
0%{-o-transform:scale(1);background-color:#3ACF3A;}
100%{-o-transform:scale(.3);background-color:#FFFFFF;}
}

@keyframes bounce_fountainG{
0%{transform:scale(1);background-color:#3ACF3A;}
100%{transform:scale(.3);background-color:#FFFFFF;}
}